* {
    margin: 0;
    padding: 0;
}

.categories-list {
    margin: 30px auto auto 50px;
}

.category-products {
    margin: auto;
    width:60%;
    text-align: left;
}
.card {
    display: inline-flex !important;
    width: 48% !important;
}
.card-body {
    padding: 15px;
}
.card-body img {
    max-width: 150px;
}
.back-btn {
    margin-right: 20px;
}
.product {
    margin: 50px auto;
    display: block !important;
}